- if @issue && User.current == @issue.assigned_to && !@issue.closed?
  #recurrence

    %h3= link_to l(:label_do_plan), {:controller => :recurring_planning, :action => :new, :id => (@issue.id rescue nil)}, :remote => true, :method => :get

    - if false && @issue.planning_schedule # debug. turned off in production
      %ul
        - @issue.planning_schedule.occurrences(@issue.due_date).each do |o| 
          %li= o.strftime('%Y-%m-%d')

      %p= @issue.planning_schedule.to_s
